<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category    Gaia
 * @package     Gaia_Carbon
 * @author      CZ Digital Team <martin.novak@czdigital.com.au>
 */
 -->
<config>
    <modules>
	<Gaia_Carbon>
	    <version>1.0.1</version>
	</Gaia_Carbon>
    </modules>
    <global>
	<models>
	    <carbon>
		<class>Gaia_Carbon_Model</class>
		<resourceModel>carbon_mysql4</resourceModel>
	    </carbon>
	    <checkout>
		<rewrite>
		    <type_onepage>Gaia_Carbon_Model_Checkout_Type_Onepage</type_onepage>
		</rewrite>
	    </checkout>	    
	</models>
	<resources>
	    <carbon_setup>
                <setup>
                    <module>Gaia_Carbon</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </carbon_setup>
	    <carbon_mysql4>
		<class>Gaia_Carbon_Model_Mysql4</class>
	    </carbon_mysql4>         
            <carbon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </carbon_write>
            <carbon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </carbon_read>
        </resources>
	<blocks>
	    <carbon>
		<class>Gaia_Carbon_Block</class>
	    </carbon>	    
	</blocks>
	<helpers>
	    <carbon>
		<class>Gaia_Carbon_Helper</class>
	    </carbon>
	</helpers>
	<sales>
            <quote>
                <totals>
                    <carbon>
                        <class>carbon/sales_quote_address_total_carbon</class>
                        <renderer>carbon/checkout_totals_carbon</renderer>
                        <admin_renderer>carbon/adminhtml_sales_order_create_totals_carbon</admin_renderer>
                    </carbon>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <carbon>
                        <class>carbon/sales_order_total_invoice_carbon</class>
                    </carbon>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <carbon>
                        <class>carbon/sales_order_total_creditmemo_carbon</class>
                    </carbon>
                </totals>
            </order_creditmemo>
        </sales>
	<events>
            <paypal_prepare_line_items>
                <observers>
                    <gaia_carbon_paypal_prepare_line_items>
                        <class>carbon/observer</class>
                        <method>updatePaypalTotal</method>
                    </gaia_carbon_paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
	    <sales_order_place_after>
                <observers>
                    <gaia_carbon_sales_order_place_after>
                        <class>carbon/observer</class>
                        <method>orderPlaceAfter</method>
                    </gaia_carbon_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
                <observers>
                    <gaia_carbon_sales_order_invoice_save_after>
                        <class>carbon/observer</class>
                        <method>invoiceSaveAfter</method>
                    </gaia_carbon_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <gaia_carbon_sales_order_creditmemo_save_after>
                        <class>carbon/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </gaia_carbon_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
	<fieldsets>
            <sales_convert_quote_address>
                <carbon_amount>
                    <to_order>*</to_order>
                </carbon_amount>
                <base_carbon_amount>
                    <to_order>*</to_order>
                </base_carbon_amount>
            </sales_convert_quote_address>
        </fieldsets>
	<pdf>
            <totals>
                <carbon translate="title">
                    <title>Carbon Offset</title>
                    <source_field>carbon_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </carbon>
            </totals>
        </pdf>		
    </global>
    <frontend>
	<layout>
	    <updates>
		<carbon>
		    <file>gaia/carbon.xml</file>
		</carbon>
	    </updates>
	</layout>
	<routers>
            <carbon>
                <use>standard</use>
                <args>
                    <module>Gaia_Carbon</module>
                    <frontName>carbon</frontName>
                </args>
            </carbon>
        </routers>
    </frontend>
    <admin>
        <routers>
            <carbon>
                <use>admin</use>
                <args>
                    <module>Gaia_Carbon</module>
                    <frontName>acarbon</frontName>
                </args>
            </carbon>
        </routers>
    </admin>
    <adminhtml>
	<layout>
	    <updates>
		<carbon>
		    <file>gaia/carbon.xml</file>
		</carbon>
	    </updates>
	</layout>
    </adminhtml>
    <default>
	<sales>
            <totals_sort>
                <carbon>15</carbon>
            </totals_sort>
        </sales>
	<carbon>
	    <general>
		<mode><![CDATA[0]]></mode>
		<api_key><![CDATA[]]></api_key>
		<api_hash><![CDATA[]]></api_hash>
		<api_sigkey><![CDATA[2]]></api_sigkey>
		<api_sighash><![CDATA[register_only_$$qw.123]]></api_sighash>
	    </general>
	</carbon>          
    </default>
</config>
